html {
  font-size: 16px; /* база */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 12px;
  font-size: 1rem;
}

@media (max-width: 600px) {
  html {
    font-size: 18px;
  }
}

#menu div, #inventory div, #shopping div {
  border: 1px solid #ccc;
  padding: 8px;
  margin: 5px;
}
